@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body { 
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  color:  #262626;
  height: 1200px;
  background: #cfd8dc;
 
}

.header {
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
}

.navigation {
background: #fff;
box-shadow: 0px 0px 5px;
padding: 1rem 0;
margin: 0;
border-radius: 4px;
display: flex;
justify-content: flex-end;
align-items: center;
}

.navigation li {
  list-style: none;
  margin-right: 3rem;
}

.navigation li:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.navigation a:link,
.navigation a:visited {
  color: #262626;
  font-weight: 400;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

.book {
 display: flex;
 flex-direction: column;
 flex-flow: column wrap;
 justify-content: center;
 align-items: center;
 padding: 2rem;

}

.book-header {
  margin-bottom: 0.7rem;
}

.book .email-reservation {
  width: 300px;
  border: 1px solid #ccc;
  height: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1em;
  border-radius: 3px;
}

.book .button-submit {
  display: block;
  width: 50%;
  margin: auto;
  background: #f7be63;
  font-size: 1em;
  border-radius: 4px;
}



.menu-container {
  padding: 1rem 0;
  border-radius: 4px;
  margin-bottom: 2rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.menu-container img {
  display: block;
  margin: 1rem 4rem 0 2rem;
}

.menu-container .menu-text {
  width: 100%;
  margin-right: 1rem;
}


.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  padding-bottom: calc(var(--aspect-ratio, .5625) * 100%); 
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



@media only screen and (min-width: 901px) {
  .menu-container {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .gallery {
    width: 300px;
    margin: 0 auto;
  }

}
