@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background: #f1f1f1;
  min-height: 100vh;
}

 img, a {
  display: block;
}

.navbar a:link,
.navbar a:visited {
  color: #EEEEEE;
  font-weight: bolder;
  text-decoration: none;
}

.navbar a:hover { 
  background: rgb(82, 82, 84);
}

.navbar {
  position: sticky;
  top: 0;
}

.navbar ul {
  background:#5d95f5;
  list-style: none;
  padding: 0;  /* remove some space between the ul and li */
  display: flex;
  justify-content: center;
}

.navbar .navbar-links{
  padding: 1rem;
}

/* 
.navbar a:last-of-type {
  margin-right: 0.5em;
} */

.welcome {
  background:  #2D2D2D;
  height: 100vh;
  color: #EEEEEE;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

}

.welcome .title {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
}

.welcome .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 1.3em;
  background: #5d95f5;
  margin-left:  0.05em;   
  margin-bottom: 0.26em;
} 

.welcome p {
  font-size: 1.2rem;
  text-align: center;
  padding: 1em;
  color: #5d95f5;
}

.projects {
  color:#fff;
  background: #346fcf;
 
  text-align: center;
  padding-top: 2em;
}

.projects header {
  padding: 1em;
  border-bottom: 1px solid #fff;
}

.project-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
 
} 

 .project-tile {
  margin: 1em;


}

.project-tile {
  padding-top: 1em;
}

.project-tile img {
  width: 100%;

  margin: 0 auto;
}

.project-tile p {
  width: 100%;
  background: #233e54;
}

.project-tile a:link,
.project-tile a:visited {
  color: #EEEEEE;
  font-weight: bolder;
  text-decoration: none;
}

.project-tile a:hover { 
  background: rgb(82, 82, 84);
}
